.footer{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem 4rem  2rem 4rem ;
    border-top: 0.125rem solid black;

}

.footer > section{
    width: 25%;
    height: 100%;
}

.footer > section a{
    position: relative;
    display: inline;
    max-width: max-content;
    transition: 0.3s ease-in-out;

}

.footer > section a > p {
    display: inline;
    color: #ff0000;
    font-weight: bold;
}


.footer > section a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0.05rem;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.footer >section a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: #ff0000;

}


.footerAbout > div{
    display: flex;
    flex-direction: column;
}

