.main {
    width: 100%;
}

.main__title {
    padding: 4rem;
    font-size: 225%;
}

.main__info {
    display: flex;
    padding: 4rem;
    gap: 4rem;
    flex-direction: column;
}

.main__projects {
    display: flex;
    justify-content: center;

}

@media only screen and (max-width:37.5rem) {
    .main__info {
        padding: 2rem;
    }

    .main__title {
        font-size: 200%;
    }
}