.header__list{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 2rem;
    font-weight: 200;
}

.header__listItem{
    color:black;
}

.header__listItem:hover{
    color: #ff0000;
    
}


.header__listItem > a{
    color:inherit;
}

@media only screen and (max-width:51.875rem) {

    .header__list{
        flex-direction: column;
    }
}