*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  animation: fadeInAnimation ease 0.5s;
  animation-fill-mode: forwards;
  
}

a {
  color: black;
  text-decoration: none;
}

.arrow {
  display: inline;
  color: #ff0000;
  font-weight: bold;
}

.underline{
  position: relative;
  display: inline;
  max-width: max-content;
  transition: 0.3s ease-in-out;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0.05rem;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #ff0000;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}